body{ 
    background-color: #d14836;
    font-family: Arial;
    
    
}



#top{ 
    color:white;
    font-size: 30px;
    line-height: 26px;
    padding: 15px;
    
}





#top h1{ 
    margin: 0;
    line-height: 50px;

}





#main{
    
    background-color: #ffffff;
    font: 80% Verdana;
    padding: 10px;
 }


#main h1, #main h2, #sidebar{
    color: #d14836;
}


#sidebar{ 
    background-color: #F6DAD7;
    padding: 10px;
    
    font-size: 16px;
font-family: Arial;
}


#bottom{
    padding: 10px;
    
 }


#bottom p{ 
    color:white;
    font-size: 70%;
    line-height: 20px;
    text-align: center;
}


ul { 
    float: right;
    width: 190px;
    cursor: pointer;
}


li{ 
    background-color: #d14836;
    border: #d14836 solid 1px;
    width: 155px;
    border-radius: 40px;
    color: white;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    
    
    
    font-size: 16px;
    
    
 }


li:hover{ 
    background-color:white;
    color: #d14836;
   
}


li:nth-child(2){ 
   background-color:white;
   color: #d14836;
   font-weight: bold
}


a{ 
    color: #d14836;
    text-decoration: none;

}


a:hover{ 
    text-decoration: underline;

}